:root {
  --green-color: #16e07d;
  --red-color: #fe4963;
  --gray-color: #3c4858;
  --dark-gray-color: #1f262e;
  --medium-gray-color: #8392a5;
  --light-gray-color: #ecf1fa;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--light-gray-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 2px solid var(--dark-gray-color);
}

button {
  cursor: pointer;
  background-color: white;
  border: solid 1px var(--dark-gray-color);
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: 2px solid var(--dark-gray-color);
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

h3 {
  background-color: white;
  border-bottom: 2px solid var(--dark-gray-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
