@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --green-color: #16e07d;
  --red-color: #fe4963;
  --gray-color: #3c4858;
  --dark-gray-color: #1f262e;
  --medium-gray-color: #8392a5;
  --light-gray-color: #ecf1fa;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-gray-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 50px 80px;
  margin: 30px auto;
  border-radius: 12px;
  color: var(--dark-gray-color);
  width: 500px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid var(--light-gray-color);
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: var(--green-color);
}

.money.minus {
  color: var(--red-color);
}

input[type='text'],
input[type='number'] {
  border: 1px solid var(--light-gray-color);
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin: 8px 0 16px 0;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: var(--dark-gray-color);
  box-shadow: var(--box-shadow);
  color: white;
  border: 0;
  border-radius: 4px;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: white;
  box-shadow: var(--box-shadow);
  color: var(--medium-gray-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid var(--green-color);
}

.list li.minus {
  border-right: 5px solid var(--red-color);
}

.delete-btn {
  cursor: pointer;
  background-color: var(--dark-gray-color);
  border: 0;
  color: white;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px 5px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.list li:hover .delete-btn {
  opacity: 1;
}
